$accent: #7545E5;
$white: #ffffff;

#fa-selector {
  position:relative; // All selector elements must have relative positioning. (Looking to remove this dependancy in fututre updates)
  cursor: pointer;

  &.active:before {
    content: "";
    width: 0;
    border: 10px solid;
    border-color: white transparent transparent;
    top: -11px;
    display: block;
    position: absolute;
    z-index: 2;
    left: 10px;
    &.bottom {
      top: initial;
      bottom: -11px;
    }
  }

  // Required theme (default if no theme selected)
  .fa-child-container {
    position: absolute;
    width:300px;
    max-height: 350px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    z-index:1;
    left:0;
    cursor: initial;
    background: white;
    color: black;
    border: 1px solid grey;
    input.search-fa-selector {
      position: sticky;
      top: 0;
      width:100%;
      padding: .2rem;
    }
    > i {
      padding: .35em;
      width: 20px;
      cursor: pointer;
    }
  }

  // Modern theme
  &[data-theme='modern'] .fa-child-container {

    border-radius: 5px;
    min-width: 300px;
    border: 1px solid darken($white, 3%);
    box-shadow: 0 1px 1px rgba(72, 72, 72, 0.43);
    justify-content: center;

    input {
      width: 100%;
      border: 0;
      background: rgb(243, 243, 243);
      outline: none;
      padding: .8rem .8rem;
      max-height: 41px;
      margin-bottom: .5em;
    }

    i {
      padding: .65em;
      border-radius: 100px;
      transition: all .3s;
      margin: 2px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;
      &:hover {
        background: darken($white, 3%);
        color: $accent;
        box-shadow: 0 1px 1px darken($white, 20%);
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
      border-radius: 5px;
      padding: 2px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 5px;
      overflow: hidden;
    }
    &::-webkit-scrollbar-thumb {
      background: $accent;
      border: 1px solid $white;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $accent;
    }
  }
  // Modern theme

}
